<div class="row">
    <div class="col">
        <h1>Letter {{letter}}</h1>
    </div>
</div>

{{#each books}}
    <div class="row">
        <div class="col">
            <a href="/books/{{this.book_id}}"><h5>{{this.title}}</h5></a>
        </div>
    </div>
    
{{/each}}

<div class="row mt-3 mb-3">
    <div class="col">
        {{#if beginningPg}}
            <form action="/books" method="get">
                <input type="hidden" name="startLetter" value="{{letter}}">
                <input type="hidden" name="offset" value="{{prevOffset}}">
                <button class="btn btn-primary" type="submit" disabled>Previous</button>
            </form>

        {{else}}
            <form action="/books" method="get">
                <input type="hidden" name="startLetter" value="{{letter}}">
                <input type="hidden" name="offset" value="{{prevOffset}}">
                <button class="btn btn-primary" type="submit">Previous</button>
            </form>

        {{/if}}
    </div>

    <div class="col">
        {{#if lastPg}}

            <form action="/books" method="get">                      
                <input type="hidden" name="offset" value="{{nextOffset}}">
                <input type="hidden" name="startLetter" value="{{letter}}">
                <button class="btn btn-primary" type="submit" disabled>Next</button>
            </form>

        {{else}}
            <form action="/books" method="get">                      
                <input type="hidden" name="offset" value="{{nextOffset}}">
                <input type="hidden" name="startLetter" value="{{letter}}">
                <button class="btn btn-primary" type="submit">Next</button>
            </form>
        {{/if}}
    </div>

    <div class="col">
        <a class="btn btn-warning" href="/">Home</a>
    </div>
</div>





